figs
figure
cache
derivatives-tree-1.Rmd
derivatives-tree-1.html
derivatives-tree-1.md

doc/simple_models.html
doc/simple_models.Rmd
doc/simple_models.md
doc/simple_models.docx
doc/simple_models.pdf
doc/figure/simple_models_*.png

wiki
